body {
  background-image: url(../images/bg3.jpg);
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  font-family: 'Cairo', sans-serif;
}
.back {
  width: 100%;
  height: 100vh;
  background: linear-gradient(57deg, #ccb38a, #eae0d4, #ccb38a, #ccb38a);
  clip-path: polygon(0 0, 100% 0%, 100% 83%, 50% 93%, 0 83%);
}
.nav-item {
  position: relative;
}
a {
  font-size:20px;
}
a:hover {
  color: #000;
  font-weight: bold;
}
.link1::after {
  content: "";
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transition: 0.4s;
}
.link1:hover::after {
  width: 70px;
  color: #000;
}
.btn1 {
  padding: 6px 20px;
  border-radius: 6px;
  background-color: transparent;
  color: #000;
  font-weight: bold;
  transition: 0.5s;
  border-color: #000;
}
.btn1:hover {
  background-color: #eae0d4;
  color: #000;
  transform: scale(1.1, 1.1);
}
.home h2{
  font-size: 35px;
  line-height: 55px;
}
.home p{
  font-size: 22px;
  color: #000000a8;
}
.main-text{
  text-align: center;
}
.main-text h2 {
  font-size: 33px;
  margin-bottom: 10px;
}
.main-text p {
  color:#000000a8;
  font-size: 20px;
  margin-bottom: 20px;
}
.feature2{
  margin-bottom: 10px;
}
.feature2 h3 {
  font-size: 23px;
}

.icon i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(57deg, #ccb38a, #eae0d4, #ccb38a, #ccb38a);
  font-size: 25px;
  color: white;
  line-height: 50px;
  text-align: center;
}
.icon i:hover {
  transform: scale(1.3, 1.3);
}
.ico:hover {
  transform: scale(1.3, 1.3);
}

.discover-info h2 {
  font-size: 33px;
}
.discover-info p {
  color: #2423237e;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 0px;
}
.btn2 {
  color: #000;
  padding: 12px;
  border: none;
  background: linear-gradient(57deg, #ccb38a, #eae0d4, #ccb38a, #ccb38a);
  transition: 0.5s;
}
.btn2:hover {
  transform: scale(1.1, 1.1);
}
.cl {
  margin-top: 250px;
}
.cl img {
  margin-top: -40px;
}
footer {
  position: relative;
  padding-top: 100px;
  height: 300px;
  background: linear-gradient(57deg, #ccb38a, #eae0d4, #ccb38a, #ccb38a);
}
.anime:hover {
  animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
.imgt:hover{
  transform: scale(1.3,1.3);
}
